@if (ViewData["Footer"] == "1")
{
    <!-- Footer -->
    <div class="gobo-menu-footer gobo-shadow fixed-bottom px-2 py-3 text-center">
        <div class="container p-0">
            <div class="row text-center" id="menuContainer">
            <!-- Menu akan di-generate di sini -->
            </div>
        </div>
    </div>

}
