<div class="modal fade" id="userSelectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="userSelectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title w-100" id="userSelectModalLabel">Pilih User</h5>
            </div>
            <div class="modal-body">
                <p class="mb-4">Silakan pilih sebagai siapa kamu menggunakan aplikasi ini:</p>
                <div class="d-grid gap-2">
                    <button id="btnAsep" class="btn btn-primary">Masuk sebagai Asep</button>
                    <button id="btnBos" class="btn btn-success">Masuk sebagai Bos</button>
                </div>
            </div>
        </div>
    </div>
</div>