@{
    ViewData["Title"] = "Home Page";
    ViewData["Header"] = "1";
    ViewData["Footer"] = "1";
}

<div class="app-body pb-30">
    <div class="container mt-30 mb-30">
        <div id="ListPlaning"></div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            // Inisialisasi modal
            GetPlanning(2);
        });        
    </script>
}
